@if (status != null) {

<section class="h-screen flex items-center justify-center bg-gray-900 text-center">
  <div>
    {{ status!.error.message }}
  </div>
</section>
}

@if (status==null) {
<section class=" py-16 bg-gray-900 text-center ">
  <div class="flex justify-center mt-12 -mb-12">
    <p-paginator class="text-center" (onPageChange)="onPageChange($event)" [first]="oPaginatorState.first!"
      [rows]="oPaginatorState.rows!" [totalRecords]="oPage?.totalElements || 0">
    </p-paginator>
  </div>
</section>

<section class=" py-2 bg-gray-900 text-center ">
  <div class="flex justify-end mt-12 -mb-2 mr-56">
    <button (click)="openModalCreate()" class="button bg-gray-300">Create</button>
  </div>
</section>


<section class=" py-16 bg-gray-900 text-center -mt-12">
  <h1 class="text-2xl text-gray-200 font-bold mb-4 -mt-14">Products</h1>

  <div class="relative overflow-x-auto mr-20 ml-20">
    <table class="table-auto w-full bg-gray-700 text-white border-gray-600 ">
      <thead>
        <tr>
          <th class="py-2 text-white">ID</th>
          <th class="py-2 text-white">Name</th>
          <th class="py-2 text-white">Price</th>
          <th class="py-2 text-white">Description</th>
          <th class="py-2 text-white">Product type</th>
          <th class="py-2 text-white">Image</th>
          <th class="py-2 text-white">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (product of oPage?.content; track products) {
        <tr>
          <td class="py-2 px-3">{{product.id}}</td>
          <td class="py-2 px-3">{{product.name}}</td>
          <td class="py-2 px-3">{{product.price}} €</td>
          <td class="py-2 px-3">{{product.description}}</td>
          <!--<td>
            <a [routerLink]="['/admin','thread','plist','byuser',t.user.id]">({{t.user.id}}) {{t.user.name}}
              {{t.user.surname}}</a>
          </td>-->
          <td class="py-2 px-3"><a [routerLink]="['/productsPlistEmployee','byProductType', product.product_type.id]">{{product.product_type.id}}</a></td>
          <td class="py-2">
            <div style="display: inline-block;">
              <img src="{{product.image}}" style="width: 100px; height: 70px;" >
            </div>
          </td>
          <td class="py-2">
            <a class="button bg-blue-500 hover:bg-blue-700 text-white m-2">
              <span class="icon is-small is-left">
                <fa-icon [icon]="faEye"></fa-icon>
              </span>
            </a>
            <a class="button bg-blue-500 hover:bg-blue-700 text-white m-2">
              <span class="icon is-small is-left">
                <fa-icon [icon]="faPen"></fa-icon>
              </span>
            </a>
            <a class="button bg-red-500 hover:bg-red-700 text-white m-2">
              <span class="icon is-small is-left">
                <fa-icon [icon]="faTrash"></fa-icon>
              </span>
            </a>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

</section>

@if (modalCreate) {
  <div class="modal-container fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 ">

        <div class="mx-auto  max-w-md mt-16 mb-16  p-6 bg-gray-800 rounded-md shadow-md dark:bg-black">
            <h2 class="text-2xl text-center  font-semibold text-white mb-6">Product</h2>
            <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                <div class="mb-6">
                    <label class="block mb-2 text-center text-sm font-medium text-gray-300 dark:text-white">Name</label>
                    <input type="text" name="name" formControlName="name"
                        class="bg-gray-700 border border-gray-600 text-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-900 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="" required>
                  
                </div>
                <div class="mb-6">
                    <label for="password"
                        class="block mb-2 text-center  text-sm font-medium text-gray-300 dark:text-white">Description
                    </label>
                    <input type="text" id="password" name="description" formControlName="description"
                        class="bg-gray-700 border border-gray-600 text-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-900 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="" required>
                    
                </div>

                <div class="mb-6">
                    <label for="password"
                        class="block mb-2 text-center  text-sm font-medium text-gray-300 dark:text-white">Price
                    </label>
                    <input type="text" name="price" id="password" formControlName="price"
                        class="bg-gray-700 border border-gray-600 text-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-900 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="" required>
                </div>

                <div class="mb-6">
                    <label for="image"
                        class="block mb-2 text-center  text-sm font-medium text-gray-300 dark:text-white">Image
                    </label>
                    <input (change) = "onFileChange($event)" name="image"  type="file" id="image" formControlName="image" accept="image/*"
                        class="bg-gray-700 border border-gray-600 text-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-900 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        >
                </div>

                <div class="mb-6">
                    <label class="block mb-2 text-center text-sm font-medium text-gray-300 dark:text-white">Type
                        product</label>
                    <div formGroupName="product_type">
                        <select formControlName="name" 
                            class="bg-gray-700 border border-gray-600 text-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-900 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option value="Starter">Starter</option>
                            <option value="Main">Main</option>
                            <option value="Dessert">Dessert</option>
                        </select>
                    </div>
                </div>


                <div class="flex flex-col items-center">
                    @if (productForm.valid) {
                    <button type="submit"
                        class="text-white  bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                    }
                    <button (click)="closeModal()"
                    class="text-white  bg-red-600 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center ">Close</button>

                </div>
            </form>
        </div>
    </div>
}
}
