<section class="section">
  <div class="container mt-5">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="has-text-centered">
          <div class="box">
            <h1 class="title is-4">My Books</h1>
            <table class="table is-fullwidth is-striped is-hoverable">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Hour</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  @for (booking of bookings; track bookings) {
                  <tr>
                    <td>{{booking.id}}</td>
                    <td>{{booking.date}}</td>
                    <td>{{booking.time_zone.hour}}</td>
                    <td>
                      <a class="button is-info mr-2">
                        <span class="icon is-small is-left">
                          <fa-icon [icon]="faEye"></fa-icon>
                        </span>
                      </a>
                      <a class="button is-danger">
                        <span class="icon is-small is-left">
                          <fa-icon [icon]="faTrash"></fa-icon>
                        </span>
                      </a>
                    </td>
                    }

                </tbody>
              </table>
          </div>
              
          </div>
        </div>
      </div>
    </div>
</section>