@if (status != null) {

  <section class="h-screen flex items-center justify-center bg-gray-900 text-center">
    <div>
      {{ status!.error.message }}
    </div>
  </section>
  }

  @if (status==null) {
    <section class=" py-16 bg-gray-900 text-center ">
        <div class="flex justify-center mt-12 -mb-12">
          <p-paginator class="text-center" (onPageChange)="onPageChang($event)" [first]="oPaginatorState.first!"
            [rows]="oPaginatorState.rows!" [totalRecords]="oPage?.totalElements || 0">
          </p-paginator>
        </div>
    </section>
    
    <section class=" py-2 bg-gray-900 text-center ">
      <div class="flex justify-end mt-12 -mb-2 mr-56">
        <button class="button bg-gray-300" >Create</button>
      </div>
    </section>
    
}

<section class=" py-16 bg-gray-900 text-center -mt-12">


  <h1 class="text-2xl text-gray-200 font-bold mb-4 -mt-14">Employees</h1>
  <div class="relative overflow-x-auto mr-20 ml-20">
    <table class="table-auto w-full bg-gray-700 text-white border border-gray-600 ">
      <thead>
        <tr>
          <th class="py-2">ID</th>
          <th class="py-2">Name</th>
          <th class="py-2">Dni</th>
          <th class="py-2">Telephone</th>
          <th class="py-2">Birth Date</th>
          <th class="py-2">Role</th>
          <th class="py-2">Username</th>
          <th class="py-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (employee of oPage?.content; track employees) {
        <tr>
          <td class="py-2 px-3">{{employee.id}}</td>
          <td class="py-2 px-3">{{employee.name}}</td>
          <td class="py-2 px-3">{{employee.dni}}</td>
          <td class="py-2 px-3">{{employee.telephone}}</td>
          <td class="py-2 px-3">{{employee.birthDate}}</td>
          <td class="py-2 px-3">{{employee.role}}</td>
          <td class="py-2 px-3">{{employee.username}}</td>
       

          <td class="py-2">
            <a class="button bg-blue-500 hover:bg-blue-700 text-white m-2" >
              <span class="icon is-small is-left">
                <fa-icon [icon]="faEye"></fa-icon>
              </span>
            </a>
            <a class="button bg-blue-500 hover:bg-blue-700 text-white m-2" >
              <span class="icon is-small is-left">
                <fa-icon [icon]="faPen"></fa-icon>
              </span>
            </a>
            <a class="button bg-red-500 hover:bg-red-700 text-white m-2" >
              <span class="icon is-small is-left">
                <fa-icon [icon]="faTrash"></fa-icon>
              </span>
            </a>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  





</section>
  
