<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <form>
          <div class="field">
            <label class="label">Nombre</label>
            <div class="control">
              <input class="input" type="text" placeholder="Nombre">
            </div>
          </div>

          <div class="field">
            <label class="label">Teléfono</label>
            <div class="control">
              <input class="input" type="tel" placeholder="Teléfono">
            </div>
          </div>

          <div class="field">
            <label class="label">Fecha de Nacimiento</label>
            <div class="control">
              <input class="input" type="date" placeholder="Fecha de Nacimiento">
            </div>
          </div>

          <div class="field">
            <label class="label">Correo Electrónico</label>
            <div class="control">
              <input class="input" type="email" placeholder="Correo Electrónico">
            </div>
          </div>

          <div class="field">
            <label class="label">Nombre de Usuario</label>
            <div class="control">
              <input class="input" type="text" placeholder="Nombre de Usuario">
            </div>
          </div>

          <div class="field">
            <label class="label">Contraseña</label>
            <div class="control">
              <input class="input" type="password" placeholder="Contraseña">
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button class="button is-primary">Registrar</button>
            </div>
            <div class="control">
              <button class="button is-link">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>