<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="card">
          <div class="card-content">
            <div class="columns is-centered mt-1">
              <h1 class="title">Sign Up</h1>
            </div>
            <div class="columns is-centered">
              
              <div class="column is-one-quarter">
                <figure class="image is-128x128 is-flex is-justify-content-center is-align-items-center">
                  <img src="https://cdn-icons-png.flaticon.com/512/6159/6159448.png" alt="Imagen de perfil" class="is-rounded">
                </figure>
              </div>
            </div>
            <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
              <div class="field">
                <label class="label">Nombre</label>
                <div class="control">
                  <input class="input" type="text" formControlName="name" placeholder="Nombre">
                </div>
              </div>

              <div class="field">
                <label class="label">Teléfono</label>
                <div class="control">
                  <input class="input" type="tel" formControlName="telephone" placeholder="Teléfono">
                </div>
              </div>

              <div class="field">
                <label class="label">Fecha de Nacimiento</label>
                <div class="control">
                  <input class="input" type="date" formControlName="birthDate" placeholder="Fecha de Nacimiento">
                </div>
              </div>

              <div class="field">
                <label class="label">Correo Electrónico</label>
                <div class="control">
                  <input class="input" type="email" formControlName="email" placeholder="Correo Electrónico">
                </div>
              </div>

              <div class="field">
                <label class="label">Nombre de Usuario</label>
                <div class="control">
                  <input class="input" type="text" formControlName="username" placeholder="Nombre de Usuario">
                </div>
              </div>

              <div class="field">
                <label class="label">Contraseña</label>
                <div class="control">
                  <input class="input" type="password" formControlName="password" placeholder="Contraseña">
                </div>
              </div>

              <div class="field is-grouped is-grouped-centered">
                <div class="control">
                  <button class="button is-primary">Registrar</button>
                </div>
                <div class="control">
                  <button class="button is-link">Cancelar</button>
                </div>
              </div>

              
              


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  @if (usuarioCreado) {
    <div  class="notification is-success">
      <button class="delete" (click)="usuarioCreado = false"></button>
      {{ mensajeUsuarioCreado }}
    </div>
  }
</section>
