
@if (status != null) {

  <section class="h-screen flex items-center justify-center bg-gray-900 text-center">
    <div>
      {{ status!.error.message }}
    </div>
  </section>
  }

 
@if (status==null) {
  <section class=" py-16 bg-gray-900 text-center "> 
  <div class="flex justify-center mt-12 -mb-12">
    <p-paginator class="text-center"
      (onPageChange)="onPageChang($event)"
      [first]="oPaginatorState.first!"
      [rows]="oPaginatorState.rows!"
      [totalRecords]="oPage?.totalElements || 0">
    </p-paginator>
   

  </div>
  </section>
  
}

@if (status==null) {
  <section class=" py-16 bg-gray-900 text-center -mt-12"> 
  <div class="flex justify-center">
    <div class="w-1/2">
      <div class="text-center">
        <div class="bg-gray-900 p-4 rounded">
          <h1 class="text-2xl font-bold mb-4">Clients</h1>
          <table class="table-auto w-full bg-gray-700 text-white border border-gray-600">
            <thead>
              <tr>
                <th class="py-2">ID</th>
                <th class="py-2">Name</th>
                <th class="py-2">Telephone</th>
                <th class="py-2">Birth Date</th>
                <th class="py-2">Email</th>
                <th class="py-2">Username</th>
                <th class="py-2">Verified</th>
                <th class="py-2">Actions</th>
              </tr>
            </thead>
            <tbody>
              @for (client of oPage?.content; track clients) {
                <tr >
                  <td class="py-2 px-3">{{client.id}}</td>
                  <td class="py-2 px-3">{{client.name}}</td>
                  <td class="py-2 px-3">{{client.telephone}}</td>
                  <td class="py-2 px-3">{{client.birthDate}}</td>
                  <td class="py-2 px-3">{{client.email}}</td>
                  <td class="py-2">{{client.username}}</td>
                  @if (client.verified) {
                    <td class="py-2">Yes</td>

                  }@else {
                    <td class="py-2">No</td>
                  }

                  <td class="py-2">
                    <a class="button bg-blue-500 hover:bg-blue-700 text-white mr-2" (click)="view(client.id)">
                      <span class="icon is-small is-left">
                        <fa-icon [icon]="faEye"></fa-icon>
                      </span>
                    </a>
                    <a class="button bg-blue-500 hover:bg-blue-700 text-white mr-2" >
                      <span class="icon is-small is-left">
                        <fa-icon [icon]="faPen"></fa-icon>
                      </span>
                    </a>
                    <a class="button bg-red-500 hover:bg-red-700 text-white" (click)="delete(client.id)">
                      <span class="icon is-small is-left">
                        <fa-icon [icon]="faTrash"></fa-icon>
                      </span>
                    </a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>




</section>


@if (showModal) {
  <div class="modal-container fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 ">
    <div class="bg-gray-800 p-8 rounded shadow-lg">
      @if (!viewMode) {
        <p class="mb-4 text-lg text-white">Are you sure you want to delete?</p>
      } @else if (viewMode) {
        <p class="mb-4 text-lg text-white">Client Details</p>
      }
      <div class="flex flex-col justify-center">
        <div class="overflow-x-auto justify-center">
          <table class="table-auto bg-gray-700 text-white border border-gray-600">
            <tbody>
              <tr>
                <td class="py-2 px-2 text-gray-400">ID</td>
                <td class="py-2 text-gray-400">{{client?.id}}</td>
              </tr>
              <tr>
                <td class="py-2 px-2 text-gray-400">Name</td>
                <td class="py-2 text-gray-400">{{client?.name}}</td>
              </tr>
              <tr>
                <td class="py-2 px-2 text-gray-400">Telephone</td>
                <td class="py-2 text-gray-400">{{client?.telephone}}</td>
              </tr>
              <tr>
                <td class="py-2 px-2 text-gray-400">Birth Date</td>
                <td class="py-2 text-gray-400">{{client?.birthDate}}</td>
              </tr>
              <tr>
                <td class="py-2 px-2 text-gray-400">Email</td>
                <td class="py-2 text-gray-400">{{client?.email}}</td>
              </tr>
              <tr>
                <td class="py-2 px-2 text-gray-400">Username</td>
                <td class="py-2 text-gray-400">{{client?.username}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      @if (!viewMode) {
        <div class="flex justify-end mt-12">
        <button (click)="cancelDelete()" class="px-4 py-2 text-sm bg-gray-300 rounded hover:bg-gray-400">Cancel</button>
        <button (click)="confirmDelete()"
          class="ml-2 px-4 py-2 text-sm bg-red-500 text-white rounded hover:bg-red-600">Delete</button>
      </div>
      } @else if (viewMode) {
        <button (click)="cancelDelete()" class="px-4 py-2 mt-8 text-sm bg-gray-300 rounded hover:bg-gray-400">Close</button>
  
      }
      
    </div>
  </div>
  }
}

       


