<!-- Sección de bienvenida -->



<section class="bg-gray-900 text-gray-400 py-16 text-center ">
  <section class="bg-gray-900 text-gray-400 py-16 text-center ml-2 mr-2">
    <div class="container mx-auto">
      <h1 class="text-4xl font-bold mb-4 text-white">
        Welcome to Thousand Burgers
      </h1>
      <h2 class="text-lg text-gray-100">
        Discover the delicious variety of burgers we offer
      </h2>
    </div>
  </section>

  <!-- Sección de Menú -->
  <section id="menu" class="py-16 bg-gray-900 ml-2 mr-2">
    <div class="container mx-auto">
      <h2 class="text-4xl text-center mb-8 text-white">Our Menu</h2>

      <div class="hidden md:grid grid-cols-1 md:grid-cols-2 gap-8 text-gray-500">
        <div class="mb-8">
          <div class="bg-gray-900 p-4 rounded">
            <p class="text-2xl font-bold mb-2 text-white">Thousand Deluxe</p>
            <p class="text-lg text-gray-100">Our classic burger with cheddar cheese, lettuce, tomato and our special sauce
              Thousand.</p>
          </div>
        </div>

        <div class="mb-8">
          <div class="bg-gray-9200 p-4 rounded">
            <p class="text-2xl font-bold mb-2 text-white">Veggie Paradise</p>
            <p class="text-lg text-gray-100">A vegetarian option with a juicy chickpea burger, avocado, and mayonnaise
              vegan.</p>
          </div>
        </div>

        <!-- Agrega más elementos de menú según sea necesario -->

      </div>

      <!-- Botón de redirección a la carta completa -->
      <div class="text-center">
        <a routerLink="/menu" class="button bg-white border-white text-black font-bold text-lg hover:bg-gray-300 rounded-full px-6 py-2">Menu</a>
      </div>
    </div>
  </section>

  <!-- Sección "Acerca de Nosotros" -->
  <section id="about" class="py-16 bg-gray-900 ml-4 mr-4">
    <div class="container mx-auto">
      <h2 class="text-4xl text-center mb-8 text-white">About Us</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 items-center text-gray-500">
        <div class="mb-8">
          <p class="text-lg leading-relaxed text-gray-100">
            At "Thousand Burgers", our story began over a decade ago when a group of passionate friends
            Because of good food, he decided to share his love for hamburgers with the world. Inspired by the
            diversity
            of flavors and textures that can be achieved between two breads, we set out to create something unique and
            extraordinary.
          </p>
          <p class="leading-relaxed text-gray-100">
            Our mission is simple: offer the most delicious and creative burgers, using ingredients
            fresh
            and high quality. Every burger on our menu is a carefully crafted masterpiece, with
            flavor combinations that will make you come back for more. From the classic "Thousand Deluxe" to our
            Vegetarian and vegan options, there's something for every burger lover at "Thousand Burgers."          </p>
          <p class="leading-relaxed text-gray-100">
            Beyond food, we believe in creating a welcoming and memorable experience for our guests.
            Our
            space is designed to make you feel at home, whether you come alone, with friends or with family.
            Each
            A visit to "Thousand Burgers" is a celebration of good food, friendship and satisfaction.
            senses.
          </p>
        </div>
        <div>
          <!-- Imagen emotiva -->
          <img
            src="https://img5.s3wfg.com/web/img/images_uploaded/8/a/ep_el_restaurante_americano_jenkins_y_su_hamburguesa_emmy-b_consiguen_el_titulo_de_mejor_hamburguesa_780x440.jpg"
            alt="Hamburguesas deliciosas en Thousand Burgers" class="w-full h-auto rounded-lg ">
        </div>
      </div>
    </div>
  </section>

  <!-- Sección de Contacto -->
  <section id="contact" class="py-16 bg-gray-900 text-center ml-3 mr-3">
    <div class="container mx-auto">
      <h2 class="text-4xl text-center mb-8 text-white font-semibold">Contact</h2>

      <!-- Información de contacto adicional -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 text-gray-700">

        <div class="mb-8 rounded-lg overflow-hidden">
          <iframe width="100%" height="350"
            src="https://www.openstreetmap.org/export/embed.html?bbox=-0.38151741027832037%2C39.468866217958556%2C-0.36360025405883795%2C39.47635305113179&amp;layer=mapnik"
            style="border: 1px solid black"></iframe>
          <small class="block text-center mt-2">
            <a href="https://www.openstreetmap.org/#map=17/39.47261/-0.37256" class="text-blue-500 hover:underline">Ver
              el mapa más grande</a>
          </small>
        </div>

        <div class="ml-8 mb-4 text-gray-50">
          <p class="text-lg">Visit us:</p>
          <p>Address: Example Street, City</p>
          <p>Telephone: +123 456 789</p>
          <p>Email: infoexample.com</p>
        </div>
      </div>
    </div>

  </section>
</section>