
  <!-- Sección de bienvenida -->
  <section class="section has-background-primary has-text-centered">
    <div class="container">
      <h1 class="title has-text-white">
        Bienvenido a Thousand Burgers
      </h1>
      <h2 class="subtitle has-text-white">
        Descubre la deliciosa variedad de hamburguesas que ofrecemos
      </h2>
    </div>
  </section>

  <!-- Sección de Menú -->
<section id="menu" class="section">
  <div class="container">
    <h2 class="title has-text-centered">Nuestro Menú</h2>

    <div class="columns is-multiline">
      <div class="column is-half">
        <div class="card">
          <div class="card-content">
            <p class="title is-4">Thousand Deluxe</p>
            <p class="subtitle is-6">Nuestra hamburguesa clásica con queso cheddar, lechuga, tomate y nuestra especial salsa Thousand.</p>
          </div>
        </div>
      </div>

      <div class="column is-half">
        <div class="card">
          <div class="card-content">
            <p class="title is-4">Veggie Paradise</p>
            <p class="subtitle is-6">Una opción vegetariana con una jugosa hamburguesa de garbanzos, aguacate, y mayonesa vegana.</p>
          </div>
        </div>
      </div>

      <!-- Agrega más elementos de menú según sea necesario -->

    </div>

    <!-- Botón de redirección a la carta completa -->
    <div class="has-text-centered">
      <a routerLink="/menu" class="button is-primary is-rounded">Ver Carta Completa</a>
    </div>
  </div>
</section>

  <!-- Sección "Acerca de Nosotros" -->
  <section id="about" class="section">
    <div class="container">
      <h2 class="title has-text-centered">Acerca de Nosotros</h2>
      <div class="columns is-vcentered">
        <div class="column is-half">
          <p class="subtitle has-text-justified">
            En "Thousand Burgers", nuestra historia comenzó hace más de una década cuando un grupo de amigos apasionados por la buena comida decidió compartir su amor por las hamburguesas con el mundo. Inspirados por la diversidad de sabores y texturas que se pueden lograr entre dos panes, nos propusimos crear algo único y extraordinario.
          </p>
          <p class="has-text-justified">
            Nuestra misión es simple: ofrecer las hamburguesas más deliciosas y creativas, utilizando ingredientes frescos y de alta calidad. Cada hamburguesa en nuestro menú es una obra maestra cuidadosamente elaborada, con combinaciones de sabores que te harán volver por más. Desde la clásica "Thousand Deluxe" hasta nuestras opciones vegetarianas y veganas, hay algo para todos los amantes de las hamburguesas en "Thousand Burgers".
          </p>
          <p class="has-text-justified">
            Más allá de la comida, creemos en crear una experiencia acogedora y memorable para nuestros clientes. Nuestro espacio está diseñado para que te sientas como en casa, ya sea que vengas solo, con amigos o en familia. Cada visita a "Thousand Burgers" es una celebración de la buena comida, la amistad y la satisfacción de los sentidos.
          </p>
        </div>
        <div class="column is-half">
          <!-- Imagen emotiva -->
          <img src="https://img5.s3wfg.com/web/img/images_uploaded/8/a/ep_el_restaurante_americano_jenkins_y_su_hamburguesa_emmy-b_consiguen_el_titulo_de_mejor_hamburguesa_780x440.jpg" alt="Hamburguesas deliciosas en Thousand Burgers">
        </div>
      </div>
    </div>
  </section>
  

  <!-- Sección de Contacto -->
   <!-- Sección de Contacto -->
   <section id="contact" class="section">
    <div class="container">
      <h2 class="title has-text-centered">Contacto</h2>
      
      <!-- Mapa de Mapbox -->
      <div class="columns">
        
        
        <!-- Información de contacto adicional -->
        <div class="column is-half">
          <p>Visítanos en:</p>
          <p>Dirección: Calle de Ejemplo, Ciudad</p>
          <p>Teléfono: +123 456 789</p>
          <p>Correo Electrónico: info.com</p>
        </div>
      </div>
      
    </div>
  </section>